body {
    background-color: #3e3e3e;
}
.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.game {
    width: 100%;
    height: 350px;
    background-image: url(background.png);
    background-size: contain;
}
.bike {
    width: 100px;
    height: 100px;
    background-image: url(bike.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 120px;
    left: 50px;
}
#startbutton {
    background-color: #3e3e3e78;
    color: white;
    border: 2px #353535 solid;
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
}
p {
    color: white;
    font-size: 25px;
    font-family: arial;
    margin: 2px;
}
#theme {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 70px;
    text-align: center;
    background-color: #353535;
    color: white;
    border: 2px black solid;
    border-radius: 5px;
}